.tabla .fila1 {
    background-color: black;
}

.tabla .fila2 {
    background-color: black;
}

.tabla .fila3 {
    background-color: black;
}

.theadEjercicio9{
    color: green;
}
.tbodyEjercicio9{
    color: blue;
}
.asociarClase{
    background-color: brown;
}

